/*..................................................................*/
body {
    margin: auto;
    background-color: #fcdcb6 !important;

}

.asideLeft {
    position: absolute;
    left: 0;
    width: 10%;
    height: 100vh;
    background-color: #f3c893;
}

#LogoGallery {
    width: 55%;
    /* height: 18%; */
    float: right;
    position: relative;
    margin-top: -52%;
    margin-right: -16%;

}

.asideLeft h2 {
    position: fixed;
    bottom: 0;
    color: #977750;
    left: 1%;
}

.content {
    z-index: 900;
    padding-bottom: 0;
    position: absolute;
    left: 10%;
    width: 55%;
    height: 100vh;
    background-color: #fcdcb6;
    overflow-y: scroll !important;
}

.content::-webkit-scrollbar {
    width: 1em;
}

.content::-webkit-scrollbar-thumb {
    background-color: #fcdcb6;
    outline: 1px solid slategray;
}

.content p {
    text-align: justify;
    margin-top: 20%;
    margin-right: 10%;
    margin-left: 10%;
    font-weight: bold;
    font-family: IRANSans;
    font-size: 18px;
}

.closebtnEndX {
    position: fixed;
    bottom: 0;
    left: -15%;
    /*margin-top: 88vh;*/
    font-size: 30px;
    margin-left: 50%;
    background-image: url("../img/CloseIcon/Close-Window-AbouteMe.png");
    background-size: cover;
    width: 50px;
    height: 50px;
    border: none;
    color: #977750 !important;
    background-color: #fcdcb6;
    display: block;
}

.closebtnEnd:hover {
    text-decoration: none;
    color: #fcdcb6;

}

.closebtnEnd:link {
    border: none;
}

.asideRight {
    z-index: 1000!important;
    background-color: #f3c893;
    position: absolute;
    right: 0;
    width: 35%;
    height: 100vh;
}

.MyVideo {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30%;
}

/*...........................................*/
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #fcdcb6;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #977750;
    display: block;
    transition: 0.3s;
    text-decoration: none;

}

.sidenav a:hover {
    color: #977750;
    text-decoration: none;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}
/*.....................................................FabFlatingAvtion*/
.parentFab{
    position: fixed;
    right: 0;
    bottom: 0px;
    text-align: right;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 100%;
    left: auto;
    width: 710px !important;
}
#share {
    position: fixed;
    bottom: 2%;
    right: 1%;
    height: 50px;
    width: 50px;
    background-color: orange;
    border-radius: 50%;
    box-shadow: 0 0 6px #878787;
    cursor: pointer;
    z-index: 3;
    background-image: url(http://www.zupimages.net/up/15/27/enby.png);
    background-position: 46% center ;
    background-size:  16px auto;
    background-repeat: no-repeat;
}
input {
    display: none;
}
#share ~ span {
    z-index: 2;
    position: absolute;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    bottom: 25px;
    right: 25px;
    opacity: 0;
    transition: 0.5s ease;
    cursor: pointer;
}
input:checked ~ #share ~ span {
    box-shadow: 0 0 8px #878787;
    opacity: 1;
}
#facebook {
    background: #DD4B39 url("IMG/Social Networks/Facebook.png") center no-repeat;
}
input:checked ~ #share ~ #facebook {
    right: 90px;
}
#twitter {
    background: #2AA9E0 url("../img/Social Networks/Twitter.png") center no-repeat;
}
input:checked ~ #share ~ #twitter {
    right: 140px;
}
#googleplus {
    background: #DD4B39 url("../img/Social Networks/Gogleplus.png") center no-repeat;
}
input:checked ~ #share ~ #googleplus {
    right: 190px;
}
#instagram {
    background: #a0a0a0 url("../img/Social Networks/Instagram.png") center no-repeat;
}
input:checked ~ #share ~ #instagram {
    right: 240px;
}

#telegram {
    background: #a0a0a0 url("../img/Social Networks/Telegram.png") center no-repeat;
}
input:checked ~ #share ~ #telegram {
    right: 290px;
}
#pinterest {
    background: #a0a0a0 url("../img/Social Networks/Pinterest.png") center no-repeat;
}
input:checked ~ #share ~ #pinterest {
    right: 340px;
}
#vero {
    background: #a0a0a0 url("../img/Social Networks/Vero.png") center no-repeat;
}
input:checked ~ #share ~ #vero {
    right: 390px;
}
#viber {
    background: #a0a0a0 url("../img/Social Networks/Viber.png") center no-repeat;
}
input:checked ~ #share ~ #viber {
    right: 440px;
}
#whatsapp {
    background: #a0a0a0 url("../img/Social Networks/Whatsapp.png") center no-repeat;
}
input:checked ~ #share ~ #whatsapp {
    right: 490px;
}
#linkdin {
    background: #a0a0a0 url("../img/Social Networks/Linkdin.png") center no-repeat;
}
input:checked ~ #share ~ #linkdin {
    right: 540px;
}





/*@import url(https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500);*/
/*.credits img {*/
/*border-radius: 50%;*/
/*width: 100px;*/
/*}*/

/*.container {*/
/*bottom: 0;*/
/*position: fixed;*/
/*margin: 1em;*/
/*right: 0px;*/
/*}*/

/*.buttons {*/
/*box-shadow: 0px 5px 11px -2px rgba(0, 0, 0, 0.18),*/
/*0px 4px 12px -7px rgba(0, 0, 0, 0.15);*/
/*border-radius: 50%;*/
/*display: block;*/
/*width: 56px;*/
/*height: 56px;*/
/*margin: 20px auto 0;*/
/*position: relative;*/
/*-webkit-transition: all .1s ease-out;*/
/*transition: all .1s ease-out;*/
/*}*/

/*.buttons:active,*/
/*.buttons:focus,*/
/*.buttons:hover {*/
/*box-shadow: 0 0 4px rgba(0,0,0,.14),*/
/*0 4px 8px rgba(0,0,0,.28);*/
/*}*/

/*.buttons:not(:last-child) {*/
/*width: 40px;*/
/*height: 40px;*/
/*margin: 20px auto 0;*/
/*opacity: 0;*/
/*-webkit-transform: translateY(50px);*/
/*-ms-transform: translateY(50px);*/
/*transform: translateY(50px);*/
/*}*/

/*.container:hover*/
/*.buttons:not(:last-child) {*/
/*opacity: 1;*/
/*-webkit-transform: none;*/
/*-ms-transform: none;*/
/*transform: none;*/
/*margin: 15px auto 0;*/
/*}*/

/*!* Unessential styling for sliding up buttons at differnt speeds *!*/

/*.buttons:nth-last-child(1) {*/
/*-webkit-transition-delay: 25ms;*/
/*transition-delay: 25ms;*/
/*background-image: url('https://cbwconline.com/IMG/Share.svg');*/
/*background-size: contain;*/
/*}*/

/*.buttons:not(:last-child):nth-last-child(2) {*/
/*-webkit-transition-delay: 50ms;*/
/*transition-delay: 20ms;*/
/*background-image: url('https://cbwconline.com/IMG/Facebook-Flat.png');*/
/*background-size: contain;*/
/*}*/

/*.buttons:not(:last-child):nth-last-child(3) {*/
/*-webkit-transition-delay: 75ms;*/
/*transition-delay: 40ms;*/
/*background-image: url('https://cbwconline.com/IMG/Twitter-Flat.png');*/
/*background-size: contain;*/
/*}*/

/*.buttons:not(:last-child):nth-last-child(4) {*/
/*-webkit-transition-delay: 100ms;*/
/*transition-delay: 60ms;*/
/*background-image: url('https://cbwconline.com/IMG/Google%20Plus.svg');*/
/*background-size: contain;*/
/*}*/

/*!* Show tooltip content on hover *!*/

/*[tooltip]:before {*/
/*bottom: 25%;*/
/*font-family: arial;*/
/*font-weight: 600;*/
/*border-radius: 2px;*/
/*background: #585858;*/
/*color: #fff;*/
/*content: attr(tooltip);*/
/*font-size: 12px;*/
/*visibility: hidden;*/
/*opacity: 0;*/
/*padding: 5px 7px;*/
/*margin-right: 12px;*/
/*position: absolute;*/
/*right: 100%;*/
/*white-space: nowrap;*/
/*}*/

/*[tooltip]:hover:before,*/
/*[tooltip]:hover:after {*/
/*visibility: visible;*/
/*opacity: 1;*/
/*}*/
